<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="holder">
    <nav>
      <h3><%= link_to 'Event Masters', root_path, class: 'company'%></h3>
      <%= render show_if_signedin('layouts/sign_in_nav', 'layouts/sign_out_nav')%>
    </nav>
    <hr>
      <%= yield %>
  </div>

  </body>
</html>
